<style>
    .button-jp {
        background: linear-gradient(to left, #39bddb, #ffff00);
        color: #ffffff;
        box-shadow: none;
        border: none;
    }

    #close_button {
        color: white;
        float: left;
        font-size: 22px;
        line-height: 10px;
        cursor: pointer;
        transition: 0.5s;
    }

    #close_button:hover {
        color: #ffcc00;
    }

    input[type="submit"],
    .buttons {
        border-radius: 40px;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .buttons:hover {
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .inner-wrap {
        background: rgba(0, 0, 0, 0);
        padding: 10px;
    }

    .buttonWrap {
        line-height: 20px;
        padding-bottom: 24px;
        min-width: 43%;
        display: inline-block;
        text-align: center;
        border-radius: 40px;
    }

    .button-blue,
    .button-green,
    .button-yellow {
        background-image: linear-gradient(to right, #39bddb, #10a798);
        box-shadow: none;
        border: none;
    }

    .contactField {
        height: 40px;
        padding-left;
        12px;
        padding-right;
        12px;
        margin-bottom;
        0px;
        border-radius: 25px;
    }

    .page-header {
        background: linear-gradient(to right, #39bddb, #10a798);
    }

    .button-orange {
        background-image: linear-gradient(to right, #39bddb, #10a798);
    }

    .buttonlc2 {
        box-shadow: inset 0 -4px 0 rgb(126 114 93);
    }

    .no-bottom {
        background: url(https://1.bp.blogspot.com/-VGbPr5ddffM/YUBzv7EGkeI/AAAAAAAAAFs/DkbUWQLMqzYEtjQgJUZOpwgPEZl9mLb0gCLcBGAsYHQ/s2048/background%2BWinlotre.jpg) !important;
        background-size: cover !important;
    }


    .panel-blue {
        background: rgba(0, 0, 0, 0);
        padding: 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 7px;
    }

    @media screen and (max-width: 1200px) {
        .results {
            border: solid 1px #39bddb !important;
            background-color: rgba(0, 0, 0, 0.55) !important;
            width: 49% !important;
            display: inline-block !important;
            border-radius: 2px !important;
            margin-bottom: 0 !important;
            padding: 0 !important;
        }

        .pool-name {
            color: #ffffff !important;
            background: linear-gradient(to right, #39bddb, #10a798) !important;
            width: 100% !important;
            font-size: 13px !important;
            font-weight: bold !important;
            text-align: center !important;
            border-bottom: 1px solid #27ae6082 !important;
        }

        .pool-date {
            font-size: 12px !important;
            margin-left: 0 !important;
            padding-top: 0 !important;
            text-align: center !important;
            display: block !important;
            color: #fff !important;
        }

        .pool-result {
            color: #ffffcc !important;
            text-align: center !important;
            width: 100% !important;
            font-size: 36px !important;
            line-height: 1.2 !important;
            float: none !important;
        }
    }
</style>
